
html, body, #root, .app-container, .layout {
  min-height: 100vh; /* Высота страницы не меньше высоты окна */
  display: flex;
  flex-direction: column;
}


.content {
  flex-grow: 1; /* Контент растягивается, но не мешает скроллингу */
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: #f5f5f5;
}
 














