.footer {
  background-color: #f5f5f5;
  padding: 40px 20px;
  border-top: #ffcc29 1px solid;
  margin-top: 50px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-donation {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 50px 10% 10px 10%;
  border: 1px solid #ffcc29;
}

.footer-donation h3 {
  font-size: 20px;
  color: #009739;
  margin-bottom: 10px;
}

.footer-donation p {
  font-size: 18px;
  margin-bottom: 15px;
}

.donation-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.donation-btn {
  display: inline-block;
  padding: 8px 20px;
  background-color: #ffcc29;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  color: #000000;
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s;
}

.donation-btn:hover {
  background-color: #264d88;
  color: #f5f5f5;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-widgets {
  min-width: 300px;
}

.footer-column {
  min-width: 200px;
}

.footer-column h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #009739;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin-bottom: 10px;
}

.footer-column a {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.footer-column a:hover {
  color: #009739;
}

.footer-widgets .widget-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

.footer-bottom p {
  font-size: 16px;
}

.footer-bottom a {
  color: #009739;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer-container {
    align-items: center;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-links {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-widgets {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .footer-column {
    min-width: 100%;
    margin-bottom: 20px;
  }

  .footer-donation {
    padding: 15px;
  }

  .donation-elements {
    justify-content: center;
  }

  .donation-btn {
    padding: 6px 15px;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 20px 10px;
  }

  .footer-donation h3 {
    font-size: 18px;
  }

  .donation-btn {
    padding: 5px 12px;
  }

}